@import url(common.css);
@import url(animation.css);
@import url(sub.css);





.index .topBtn {	
  width:60px;
	right:60px;
	bottom:60px;position:fixed;cursor: pointer;z-index: 10000;
}




/* /////////// section 1 : main /////////// */
.index .logo {display: block;}
.index .mobilelogo {display: none;}
.index .nomobileTitle {display: block;}
.index .mobileTitle {display: none;}
.index .section.sec1 {
    background : url(../img/mainBg.png) center center;
    z-index: -1;
    background-color: #000;
    /* background-size : cover;
    animation: displace 1s linear alternate;
    animation-fill-mode: both; */
    background-size:cover;
    -webkit-animation: slidein 100s alternate;
    animation: slidein 100s alternate;
    transform-origin: 100% 100%;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;            
}
/* @keyframes displace {
  from { background-size:1200px 1200px;} 
  to { background-size:2000px 2000px;}
}
 */

@-webkit-keyframes slidein {
  from {background-position: center -500px; background-size:2500px;}
  to {background-position: 2000px top;background-size:2500px;}
}
@keyframes slidein {
  from {background-position: center -500px;background-size:2500px;}
  to {background-position: 2000px top;background-size:2500px;}
}


.index .section.sec1 .fp-tableCell {position: relative;}
.index .section.sec1 .fp-tableCell>img {position: absolute;left: 0;bottom: 0;width: 100%;}
.index .section.sec1 .section_inner .swiper-slide:nth-child(1) .ani_txt {margin-bottom: 50px;}
.index .section.sec1 .section_inner .swiper-slide:nth-child(1) .ani_txt span {
    font-size: 70px;
    text-shadow: -0.1rem 0px #fff, 0px 0.1rem #fff, 0.1rem 0px #fff, 0px -0.1rem #fff;
    font-weight: 900;letter-spacing: normal;
    line-height: 49px;
}

.index .section.sec1 .section_inner .swiper-slide .swiperwrapper.swiper_txt h1 {text-shadow: none;color: #fff;font-size: 54px;line-height: 100px;text-align: center;font-weight: 500;}













/* /////////// section 2 : about us /////////// */
.index .mobileIcon {display: none;}
.index .section.sec2 {background-color: #f0f0f0;}
.index .section.sec2 .fp-tableCell {display: flex;justify-content: space-between;align-items: center;width: 100%;height: 100%;padding: 0 60px;box-sizing: border-box;}
.index .section.sec2 .fp-tableCell>div {height: 100%;}
.index .section.sec2 .fp-tableCell>div.leftText {/* width: 583px; */display: table;}
.index .section.sec2 .fp-tableCell>div.leftText .tableCell {display: table-cell;vertical-align: middle;}
.index .section.sec2 .fp-tableCell>div.leftText .tableCell .titleText {display: flex; justify-content: space-between;width:calc(100% - 120px);position:absolute;box-sizing: border-box;}
.index .section.sec2 .fp-tableCell>div.leftText .tableCell .titleText div {width:33.3%;position: relative;}
.index .section.sec2 .fp-tableCell>div.leftText .tableCell .titleText div>img {position: absolute;left: -10px;}
.index .section.sec2 .fp-tableCell>div.leftText .tableCell>h2 {/*margin-top: 40px;*/letter-spacing: normal;font-family: 'Nanum Myeongjo', serif;font-size: 40px;font-size: 400;color: rgba(0,0,0,0.7);font-style: italic;}


.index .section.sec2 .fp-tableCell>div.leftText .tableCell .ani_txt p:nth-child(1) {line-height: 50px;letter-spacing: -0.05em;text-align: left;display: block;margin-top: 3.1vw;font-family: 'noto sans KR', sans-serif;font-size: 34px;font-weight: bold;color: #000;}
.index .section.sec2 .fp-tableCell>div.leftText .tableCell .ani_txt p:nth-child(2) {margin-top: 2.6vw;font-weight: 300;font-size: 20px;line-height: 30px;color: #000;display: block;text-align: left;}
.index .section.sec2 .fp-tableCell>div.leftText .tableCell .ani_txt br:not(.parag) {display: block;}



/* /////////// 공 애니메이션 /////////// */
.index .section.sec2 .rightImg {position: relative;flex: 1;}
.index .section.sec2 .rightImg>img {position: absolute;transform: translate(-50%,-50%);}
.index .section.sec2 .rightImg>img.ball {
  width: 324px;top: 50%; margin-top:15px; left: 50%;
  animation: rotatebox ease-in-out infinite alternate;
  animation-duration: 5s;
  animation-fill-mode: both;
  transform-origin:center center; 
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  animation-play-state : running;
  transition: 0.2s;

/*   
  -webkit-animation:rotatebox cubic-bezier(1, 1, 1, 1) infinite alternate;
  -moz-animation:rotatebox cubic-bezier(1, 1, 1, 1) infinite alternate;
  -o-animation:rotatebox cubic-bezier(1, 1, 1, 1) infinite alternate; */
}
.index .section.sec2 .rightImg>img.circle {top: 50%;left: 50%;z-index: 1000;}
.index .section.sec2 .rightImg>div {position: absolute;top: 55%;left: 50%;transform: translate(-50%,-50%);}

@keyframes rotatebox{
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes rotatebox{
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* .scene { 
  width: 324px;
  height: 324px;
  perspective: 600px;
}

.cube { 
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  animation: rotation 5s infinite;

}
.cube img {width: 324px;}
.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 2.5em;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .cube__face--front {
    background: rgba(98, 206, 203, 0.7);
    transform: rotateY(0deg) translateZ(100px);
  }
  
  .cube__face--back {
    background: rgba(98, 155, 206, 0.7);
    transform: rotateY(180deg) translateZ(100px);
  }
  
  .cube__face--right {
    background: rgba(98, 101, 206, 0.7);
    transform: rotateY(90deg) translateZ(100px);
  }
  
  .cube__face--left {
    background: rgba(149, 98, 206, 0.7);
    transform: rotateY(-90deg) translateZ(100px);
  }
  
  .cube__face--top {
    background:rgba(203, 98, 206, 0.7);
    transform: rotateX(90deg) translateZ(100px);
  }
  
  .cube__face--bottom {
    background: rgba(206, 98, 155, 0.7);
    transform: rotateX(-90deg) translateZ(100px);
  }
   */





/* @keyframes rotation {
  0% {
    transform: translateZ(-100px) rotate3d(0,0,0);
  }
  100% {
    transform: translateZ(-100px) rotate3d(1,0,1,360deg);
  }
} */



.index .section.sec2 .rightImg>div.front01 {top: 40%;left: 50%;transform: translate(-50%,-50%);z-index:0;}
.index .section.sec2 .rightImg>div.back01 {top: 40%;margin-top:58px; left: 50%;transform: translate(-50%,-50%);z-index:5000;}
.index .section.sec2 .rightImg>div.front02 {top: 44%;left: 50%;transform: translate(-50%,-50%);z-index:0;}
.index .section.sec2 .rightImg>div.back02 {top: 44%; margin-top:58px; left: 50%;transform: translate(-50%,-50%);z-index:5000;}
.index .section.sec2 .rightImg>div.front03 {top: 55%;left: 50%;transform: translate(-50%,-50%);z-index:0;}
.index .section.sec2 .rightImg>div.back03 {top: 55%; margin-top:58px;  left: 50%;transform: translate(-50%,-50%);z-index:5000;}
.index .section.sec2 .rightImg>div.front04 {top: 68%;left: 50%;transform: translate(-50%,-50%);z-index:0;}
.index .section.sec2 .rightImg>div.back04 {top: 68%;margin-top:58px; left: 50%;transform: translate(-50%,-50%);z-index:5000;}

.index .section.sec2 .rightImg>div>div {display: flex;flex-direction: column;width: 738px;}
.index .section.sec2 .rightImg>div>img {transform: rotateX(180deg);}
.index .section.sec2 .rightImg>div.front>img {
  transform: scaleX(1);transition: 0.5s;
  /* animation: circleMove linear;
  animation-fill-mode:forwards;
  animation-duration: 1s; 
  animation-play-state: running; */
  /* -webkit-animation: circleMove 2s infinite;  

  -webkit-animation-play-state: running;  

  animation: circleMove 2s infinite;

  animation-play-state: running; */
}
/* .section.sec2 .rightImg>div.back>img {animation: circleMove 1s steps(2,end) infinite alternate;animation-fill-mode:none;} */

.index .section.sec2 .rightImg>div.front.ani>img {transform: scaleX(-1);transition: 5s;border: 3px solid red;}



.index .section.sec2 .rightImg>div>div.circle_line01 {margin-top: 40px;position: relative;}
.index .section.sec2 .rightImg>div>div.circle_line02 {margin-top: -70px;position: relative;}
.index .section.sec2 .rightImg>div>div.circle_line03 {margin-top: 3;position: relative;}
.index .section.sec2 .rightImg>div>div.circle_line04 {margin-top: 200px;position: relative;}
.index .section.sec2 .rightImg>div>div.circle_line01>img:nth-child(2),
.index .section.sec2 .rightImg>div>div.circle_line02>img:nth-child(2) {z-index: 1000;}
.index .section.sec2 .rightImg>div>div.circle_line03>img:nth-child(1) {z-index:0;}
.index .section.sec2 .rightImg>div>div.circle_line03>img:nth-child(2) {z-index: 1000;}

@keyframes circleMove {
  0% {
    transform: rotate(180deg);
  }
}

/* @keyframes backcircleMove {
  100% {
    transform:rotate(180deg);
  }
  
} */

/*  */


/* @keyframes ballAni {
    100% {
        transform: perspective(1000px) rotateX(45deg);
    }
} */








/* /////////// section 3 : our services /////////// */

/* 반응형 display */
.index .section.sec3 .fp-tableCell .service_cont .mobile_service {display: none;}
.index .section.sec3 .fp-tableCell .service_cont .nomobile_service {display: block;}
/* /// 반응형 display /// */

.index .section.sec3 .fp-tableCell {width: 100%;height: 100%;box-sizing: border-box;position: relative;}
.index .section.sec3 .fp-tableCell .tableCell {display: table;width: 100%;height: 100%;padding: 0 60px;box-sizing: border-box; /*border: 3px solid red;*/}
.index .section.sec3 .fp-tableCell .tableCell .service_cont {display: table-cell;vertical-align: middle;position: relative; /*border: 3px solid blue;*/}
.index .section.sec3 .fp-tableCell .tableCell .service_cont .nomobile_service>h2 {letter-spacing: normal;font-family: 'Nanum Myeongjo', serif;font-size: 40px;font-size: 400;color: rgba(0,0,0,0.7);font-style: italic;}
.index .section.sec3 .fp-tableCell .tableCell .service_cont .nomobile_service .boxCont {margin-top:2vw; display: flex;align-items: center;justify-content: space-between;}
.index .section.sec3 .fp-tableCell .tableCell .service_cont .nomobile_service .boxCont>li {position: relative;flex: 1;height: 100%;display: flex;flex-direction: column;justify-content: center;}
.index .section.sec3 .fp-tableCell .tableCell .service_cont .nomobile_service .boxCont>li>img {position: absolute;width: 20px;height: 20px; top:-6vw;left: 0;transform: translate(-50%,-50%);}
.index .section.sec3 .fp-tableCell .tableCell .service_cont .nomobile_service .boxCont .serviceBox {cursor: pointer;transition: 0.5s; /*min-width: 580px;*/ display: flex;flex-direction: column;justify-content: space-between;gap: 2.5vw;}
.index .section.sec3 .fp-tableCell .tableCell .service_cont .nomobile_service .boxCont .serviceBox:hover {transform: translateY(-20px);}
.index .section.sec3 .fp-tableCell .tableCell .service_cont .nomobile_service .boxCont .serviceBox>img.serviceImg {width: 88%;}
.index .section.sec3 .fp-tableCell .tableCell .service_cont .nomobile_service .boxCont .serviceBox>div {position: relative;}
.index .section.sec3 .fp-tableCell .tableCell .service_cont .nomobile_service .boxCont .serviceBox>div>img.letter {position: absolute;top: 0;left: 0;z-index: 10000;}
.index .section.sec3 .fp-tableCell .tableCell .service_cont .nomobile_service .boxCont .serviceBox>div>div.service_text {padding-left: 50px;margin-top: 100px;}
.index .section.sec3 .fp-tableCell .tableCell .service_cont .nomobile_service .boxCont .serviceBox>div>div>h1 {color: #000;font-weight: bold;font-size: 34px;line-height: normal;}
.index .section.sec3 .fp-tableCell .tableCell .service_cont .nomobile_service .boxCont .serviceBox>div>div>p>span {font-weight: 400;font-size: 20px;line-height: 30px;color: #333;} 
.index .section.sec3 .fp-tableCell .tableCell .service_cont .nomobile_service .boxCont .serviceBox>div>div>button {margin-top: 10px;border: 1px solid #000;background-color: transparent;border: none;font-family: 'Montserrat', sans-serif;font-size: 16px;font-weight: 300;}
.index .section.sec3 .line {display: flex; height:100%; position:absolute; gap: 33.3%; width: calc(100% - 120px)}
.index .section.sec3 .line li{width:1px; background-color:#eee; }

.Icon {display: flex; height:100%; position:absolute;/*width: calc(100% - 120px);*/ width:100%;}
.Icon li{margin-left:-9px; top:-40px; width:1px; position:absolute;}
.Icon li:nth-child(2){left:33.3%;}
.Icon li:nth-child(3){left:66.6%;}








/* /////////// section 4 : contact /////////// */
.index .section.sec4 {background : url(../img/footerBg.png) center center no-repeat; background-size: cover;}
.index .section.sec4 .fp-tableCell .tableCell {display: table;width: 100%;box-sizing: border-box;height: 100%;padding: 0 60px;box-sizing: border-box;}
.index .section.sec4 .fp-tableCell .contact_cont {display: table-cell;vertical-align: middle;position: relative;}
.index .section.sec4 .fp-tableCell .contact_cont>h2 {letter-spacing: normal;font-family: 'Nanum Myeongjo', serif;font-size: 40px;font-size: 400;color: rgba(255,255,255,0.7);font-style: italic;}
.index .section.sec4 .fp-tableCell .contact_cont .boxCont {margin-top:2vw; display: flex;}
.index .section.sec4 .fp-tableCell .contact_cont .boxCont>li {position: relative;flex: 1; width:33.3%}
.index .section.sec4 .fp-tableCell .contact_cont .boxCont>li>img {position: absolute;width: 20px;height: 20px; top:-6vw;left: 0;transform: translate(-50%,-50%);}
.index .section.sec4 .fp-tableCell .contact_cont .boxCont>li .contactBox>p {font-size: 20px;font-weight: bold;color: #fff;margin-bottom: 10px;}
.index .section.sec4 .fp-tableCell .contact_cont .boxCont>li .contactBox>span {font-size: 20px;font-weight: 400;color: #fff;}
.index .section.sec4 .fp-tableCell .contact_cont .boxCont>li:nth-child(2) .contactBox>p:not(:nth-of-type(1)) {margin-top:20px;}

































/* mobile & tablet 공통 : section 3 our services 스와이퍼 , 탑버튼 */
@media (max-width:1439.33px) {

  .index .section.sec3 .Icon li:nth-child(2){left:50%;}
  .index .section.sec3 .Icon li:nth-child(3){left:100%;}

  .index .topBtn {width:44px;right:40px;bottom:40px;}



  .Icon {display: flex; height:100%; position:absolute;/*width: calc(100% - 120px);*/ width:100%;}
  .Icon li{margin-left:-10px; top:-6vw; width:1px; position:absolute; }
  .Icon li:nth-child(1){left:0;z-index:9999999999;}
  .Icon li:nth-child(2){left:50%;}
  .Icon li:nth-child(3){left:100%;}

  /* 반응형 display */
  .index .section.sec3 .fp-tableCell .service_cont .mobile_service {display: block;}
  .index .section.sec3 .fp-tableCell .service_cont .nomobile_service {display: none;}
  /* /// 반응형 display /// */


  .index .section.sec3 .fp-tableCell .tableCell {padding: 0 40px;}

  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service>h2 {
    display: block;letter-spacing: normal;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 36px;font-size: 400;
    color: rgba(0,0,0,0.7);
    font-style: italic;
  }
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont {
    position: relative;box-sizing: border-box;
    width: 100%;height: 100%;
  }



  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide {
    height: 100% !important; width:50%!important; align-items: normal; margin-left:1px;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox {cursor: pointer;display: flex;flex-direction: column;justify-content: space-between;gap: 2.5vw;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>img.serviceImg {width: 88%;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>div {position: relative;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>div>img.letter {position: absolute;top: 0;left: 0;z-index: 10000; width:120px;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>div>div.service_text {padding-left:30px;margin-top: 100px;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>div>div>h1 {color: #000;font-weight: bold;font-size: 30px;line-height: normal;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>div>div>p {font-weight: 400;font-size:18px; line-height:28px;} 
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>div>div>button {margin-top: 10px;background-color: transparent;border: none;font-family: 'Montserrat', sans-serif;font-size: 16px;font-weight: 300;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-button {position: absolute;bottom: 100% !important;top: auto !important;right: 0 !important;height: 50px;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-button-prev, .swiper-button-next {justify-content: end;left: auto !important;right: auto !important;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-button-prev {right: 30px !important;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-button-next {right: 0 !important;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-button-prev {opacity: 1;}

  .index .section.sec3 .line {display: flex; height:100%; position:absolute; gap: 50%; width: calc(100% - 80px);}
  .index .section.sec3 .line li{width:1px; background-color:#eee; }
  .index .section.sec3 .line li:nth-child(1){left:40px;}
  .index .section.sec3 .line li:nth-child(2){left:50%;}
  .index .section.sec3 .line li:nth-child(3){right:40px;}
}




/* 작은 PC이하 */
@media (max-width: 1680px) {
  .index #fp-nav ul {display: none;}
}


/* tablet & 작은PC 공통 */
@media (min-width: 768px) and (max-width:1439.33px) {
  .index .section div.section_inner {height: calc(100% - 80px);width: calc(100% - 80px);padding-top: 40px;}
  .index .scrdown {display: none;}

}








/* tablet */
@media (min-width: 1024px) and (max-width:1439.33px) {

  
  /* 공통 */
  .index .section.sec2 .fp-tableCell,
  .index .section.sec3 .fp-tableCell .tableCell,
  .index .section.sec4 .fp-tableCell .tableCell {padding: 0 40px;}

  .index .section.sec2 .fp-tableCell>div.leftText .tableCell>h2,
  .index .section.sec3 .fp-tableCell .service_cont>h2,
  .index .section.sec4 .fp-tableCell .contact_cont>h2 {font-size: 36px;}

  .index .section.sec4 .fp-tableCell .contact_cont .boxCont>li .contactBox>p,
  .index .section.sec4 .fp-tableCell .contact_cont .boxCont>li .contactBox>span {font-size: 18px;}
  
  .index .section.sec4 .fp-tableCell .contact_cont .boxCont>li>img,
  .index .section.sec3 .fp-tableCell .service_cont .boxCont>li>img {top: -8vw;}


  /* section 1 메인 */
  .index .section.sec1 .section_inner .swiper-slide:nth-child(1) .ani_txt {margin-bottom: 39px;}
  .index .section.sec1 .section_inner .swiper-slide:nth-child(1) .ani_txt span {font-size: 53px;}
  .index .section.sec1 .section_inner .swiper-slide .swiperwrapper.swiper_txt h1 {font-size: 40px;line-height: 70px;}
  .index .sec1Swiper img.logo {width: 817px;max-width: 70%;}


  /* section 2 about us */
  .index .section.sec2 .fp-tableCell>div.leftText .tableCell>h2 {margin-top: 20px;}
  .index .section.sec2 .fp-tableCell>div.leftText .tableCell .ani_txt p:nth-child(1) {font-size: 30px;line-height: 45px;margin-top: 2vw;}
  .index .section.sec2 .fp-tableCell>div.leftText .tableCell .ani_txt p:nth-child(2) {font-size: 18px;line-height: 26px;}
  .index .section.sec2 .fp-tableCell>div.leftText {flex: 1;}
  /* .section.sec2 .fp-tableCell>div.leftText .tableCell .ani_txt br:not(.parag) {display: none;} */
  .index .section.sec2 .fp-tableCell>div.leftText .tableCell .titleText {width: calc(100% - 80px);}
  .index .section.sec2 .rightImg {flex: 0.5;}
  .index .section.sec2 .rightImg>img.ball {width: 189px;height: 189px;}
  .index .section.sec2 .rightImg>img.circle {width: 432px;}
  .index .section.sec2 .rightImg>div>img {width: 432px;}
  .index .section.sec2 .fp-tableCell>div.leftText .tableCell .titleText div>img {width: 16px;height: 16px;}
}







/* tablet & 큰 mobile 공통 */
@media (max-width:1439.33px) {
  .index .section.sec4 .fp-tableCell .contact_cont .boxCont>li>img {width: 16px;height: 16px;}
  .index .section.sec4 .fp-tableCell .contact_cont .boxCont>li {width:50%!important;}
  .index .section.sec4 .fp-tableCell .contact_cont .boxCont>li:nth-child(3){display:none;}
}







/* 큰 mobile */
@media (min-width:768px) and (max-width:1023.33px) {

  /* 공통 */
  .index .section.sec2 .fp-tableCell,
  .index .section.sec3 .fp-tableCell .tableCell,
  .index .section.sec4 .fp-tableCell .tableCell {padding: 0 40px;}

  .index .section.sec2 .fp-tableCell>div.leftText .tableCell>h2,
  .index .section.sec3 .fp-tableCell .service_cont>h2,
  .index .section.sec4 .fp-tableCell .contact_cont>h2 {font-size: 32px;}

  .index .section.sec4 .fp-tableCell .contact_cont .mobileBoxcont>li .contactBox>p,
  .index .section.sec4 .fp-tableCell .contact_cont .mobileBoxcont>li .contactBox>span {font-size: 16px;}

  .index .section.sec4 .fp-tableCell .contact_cont .mobileBoxcont>li>img,
  .index .section.sec3 .fp-tableCell .service_cont .mobileBoxcont>li>img {top: -9vw;}


  /* section 1 메인 */
  .index .logo {display: none;}
  .index .sec1Swiper img.logo {width: 817px;}
  .index .mobilelogo {display: block;width: 400px;}
  .index .section.sec1 .section_inner .swiper-slide:nth-child(1) .ani_txt {margin-bottom: 39px;}
  .index .section.sec1 .section_inner .swiper-slide:nth-child(1) .ani_txt span {font-size: 45px;}
  .index .section.sec1 .section_inner .swiper-slide .swiperwrapper.swiper_txt h1 {font-size: 32px;line-height: 65px;}
  .index .section.sec1 .section_inner .swiper-slide .swiperwrapper.swiper_txt h1 img {width: 72px;}
  .index .sec1Swiper img.logo {width: 817px;}

  /* section 2 about us */
  .index .section.sec2 .fp-tableCell>div.leftText .tableCell .ani_txt p:nth-child(1) {font-size: 26px;line-height: 35px;margin-top: 2vw;}
  .index .section.sec2 .fp-tableCell>div.leftText .tableCell .ani_txt p:nth-child(2) {font-size: 16px;line-height: 25px;}
  .index .section.sec2 .fp-tableCell>div.leftText {flex: 0.7;}
  /* .section.sec2 .fp-tableCell>div.leftText .tableCell .ani_txt br:not(.parag) {display: none;} */
  .index .section.sec2 .fp-tableCell>div.leftText .tableCell .titleText {width: calc(100% - 80px);}
  .index .section.sec2 .fp-tableCell>div.leftText .tableCell>h2 {margin-top: 20px;}
  .index .section.sec2 .rightImg {flex: 0.3;}
  .index .section.sec2 .rightImg>img.ball {width: 189px;height: 189px;}
  .index .section.sec2 .rightImg>img.circle {width: 332px;}
  .index .section.sec2 .rightImg>div>img {width: 332px;}
  

  /* section 3 services */
  .index .section.sec3 .fp-tableCell .service_cont .mobileBoxcont .serviceBox>div>div>h1 {font-size: 30px;}
  .index .section.sec3 .fp-tableCell .service_cont .mobileBoxcont .serviceBox>div>div>p {font-size: 18px;}
  .index .section.sec3 .fp-tableCell .service_cont .mobileBoxcont .serviceBox>img.serviceImg {width: 376px;}
    .index .section.sec3 .line {width: calc(100% - 80px);}



}








/* mobile */
@media (max-width:767.33px) {

  .index .section.sec3 .line{
    width:calc(100% - 40px);
  }
  .Icon li{
    margin-left:-6px;
  }

  .index .swiper-slide {height: 95% !important;}
  .index .nomobileTitle {display: none;}
  .index .mobileTitle {display: block;}

  
  .index .cpyright {left: 20px;bottom: 20px;}
  .index .section div.section_inner {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    padding-top: 20px;
  }

  .index .section.sec1 .section_inner .swiper-slide:nth-child(1) .ani_txt {margin-bottom: 30px;text-align: center;}
  .index .section.sec1 .section_inner .swiper-slide:nth-child(1) .ani_txt span {font-size: 30px;}
  
  .index .section.sec1 .fp-tableCell>img {height: 100%;object-fit: cover;}


  .index .section.sec1 .section_inner .swiper-slide .swiperwrapper.swiper_txt h1 {font-size: 23px;line-height: 34px;}
  .index .section.sec1 .section_inner .swiper-slide .swiperwrapper.swiper_txt h1 img {width: 40px;}

  .index .section.sec2 .fp-tableCell {flex-direction: column-reverse;}

  .index .sec1Swiper img.logo {width: 817px;}

 

  .index .scrdown {display: none;}
  /*.index .plusIcon {width: 13px;height: 13px;}*/
  .index .cpyright {font-size: 10px;}

  .index .section.sec2 .fp-tableCell>div.leftText .tableCell .titleText div:nth-child(2)>img {opacity: 0;}

  .index .section.sec2 .fp-tableCell,
  .index .section.sec3 .fp-tableCell .tableCell,
  .index .section.sec4 .fp-tableCell .tableCell {padding:0 20px;}

  .index .section.sec2 .fp-tableCell>div.leftText .tableCell>h2 {font-size: 22px;margin-top: 20px;}
  .index .section.sec3 .fp-tableCell .service_cont>h2,
  .index .section.sec4 .fp-tableCell .contact_cont>h2 {font-size: 22px;}



  .index .section.sec2 .fp-tableCell>div.leftText .tableCell .ani_txt p:nth-child(1) {font-size: 18px;line-height: normal;margin-top: 2vw;letter-spacing: -0.01em;}
  .index .section.sec2 .fp-tableCell>div.leftText .tableCell .ani_txt p:nth-child(2) {border: 2px solid blue;font-weight: 400;font-size: 12px;line-height: normal;letter-spacing: -0.01em;}

  .index .section.sec2 .fp-tableCell>div.leftText {flex: 1;}


  .index .section.sec2 .fp-tableCell>div.leftText .tableCell .titleText {width: calc(100% - 40px);}

  .index .section.sec2 .rightImg>img.ball {width: 120px;height: 120px;}
  .index .section.sec2 .rightImg>img.circle {width: 160px;top: 45%;}
  .index .section.sec2 .rightImg>div>img {width: 160px;}


  /* .section.sec3 .fp-tableCell .service_cont .boxCont {border: 2px solid red;overflow-x: scroll;} */


  .index .section.sec4 .fp-tableCell .contact_cont .boxCont>li .contactBox>p,
  .index .section.sec4 .fp-tableCell .contact_cont .boxCont>li .contactBox>span {font-size: 17px;}
  .index .section.sec4 .fp-tableCell .contact_cont .boxCont>li>img,
  .index .section.sec3 .fp-tableCell .service_cont .boxCont>li>img {top: -15vw;width: 13px;height: 13px;}



  .index .section.sec3 .fp-tableCell .service_cont .boxCont .serviceBox>div>div>h1 {font-size: 30px;}
  .index .section.sec3 .fp-tableCell .service_cont .boxCont .serviceBox>div>div>p {font-size: 18px;}


  .index .section.sec3 .fp-tableCell .service_cont .boxCont .serviceBox>img.serviceImg {width: 376px;}



  

  /* services 세로선 */
  .index .sec1Swiper img.logo {
    width: 817px;
  }
  .index .logo {display: none;}
  .index .mobilelogo {display: block;width: 268px;}

/*
  .index .section.sec4 .fp-tableCell .contact_cont .boxCont {flex-direction: column;gap: 10px;margin-top: 4vw;}
  .index .section.sec4 .fp-tableCell .contact_cont .boxCont>li .contactBox>p {margin-bottom: 5px;}
*/

  .index .mobileIcon {display: block;}

  .index .section.sec4 .fp-tableCell .contact_cont .boxCont>li:nth-child(2)>img {border: 2px solid red;}

  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service>h2{
    font-size:22px;
    margin-bottom:4vw;
  }
  

}



/* 모바일 : our service 스와이퍼 슬라이드 - 1개
@media (min-width:530px) and (max-width:767.33px) {
  .index .section.sec3 .line {width: calc(100% - 40px);}
  .index .section.sec3 .line li:nth-child(2) {left: 50%;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>div>div.service_text {padding-left: 30px;}
}
 */



/* 모바일 : our service 스와이퍼 슬라이드 - 1개 */
@media (max-width:560px) {
 .swiper-wrapper{flex-shrink:0;}
  .index .section.sec3 .line {display: flex; height:100%; position:absolute; gap: 100%; width: calc(100% - 40px);box-sizing: border-box;}
  .index .section.sec3 .Icon {display: flex; height:100%; position:absolute;width:100%}
  .index .section.sec3 .Icon li{margin-left:-6px; top:-6vw; width:1px; position:absolute;}
  .index .section.sec3 .Icon li:nth-child(1){left:0;z-index:9999999999;}
  .index .section.sec3 .Icon li:nth-child(2){left:100%;}
  .index .section.sec3 .Icon li:nth-child(3){display:none;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide {
    width:100%!important; }
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>div>div.service_text {
    padding:0; left: 0; box-sizing: border-box; margin-top:40px;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>div>img.letter{
    width:70px;
  }
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>div>div>h1 {
    font-size: 21px; margin-left:20px;/*width: calc(100% - 20px);*/ width:40px;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>div>div>p { 
    margin-left:20px; width: calc(100% - 20px); font-size:15px; line-height:23px;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>div {}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox{}

  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>img.serviceImg {width: 88%;}
  .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>div {
    box-sizing: border-box; margin-top:2vw;}

    .index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont .swiper-slide .serviceBox>div>div>button{
      margin-left:20px;
    }

  /*.index .section.sec3 .fp-tableCell .tableCell .service_cont .mobile_service .mobileBoxcont {width: calc(100% - 40px);}*/
  .index .plusIcon {width: 13px;height: 13px;}
  .Icon li{margin-left:-9px; top:-40px; position:absolute; }
  .Icon li:nth-child(1){left:2px;}
  .Icon li:nth-child(2){left:100%;}
  .Icon li:nth-child(3){display:none;}
  
  .index .topBtn{
    width:32px;
    height:32px;
    bottom:20px;
    right:20px;
    position:absolute;
  }
  
  .index .section.sec4 .fp-tableCell .contact_cont .boxCont>li{
  width:100%!important;
  }
  
  .index section .sec3 .ani_txt, .index section .sec2 .ani_txt, .index section .sec4 .ani_txt{
    margin-bottom:10px;
  }

  .index .section.sec4 .fp-tableCell .contact_cont .boxCont {flex-direction: column;gap: 10px;margin-top: 4vw;}
  .index .section.sec4 .fp-tableCell .contact_cont .boxCont>li .contactBox>p {margin-bottom: 5px;}
  
}