@import url(common.css);
@import url(animation.css);


.sub #fp-nav ul {display: none;}
.sub .section {width: 100%;height: 100%;
    overflow: hidden;
}




.sub .section div.section_inner {height: 100% !important;padding-top: 0 !important;box-sizing: border-box;width: 100%;}
.sub .topBtn {width:60px; top:100px; right:60px;position:fixed;cursor: pointer;z-index: 10000;}


.down_icon{transform: translateY(5px);}
.pc_ver{display:block;}
.mo_ver{display:none;}
.nomobileImg {display: block;}
.mobileImg {display: none;}


/* 공통 */
.sub .section.sec1 .fp-tableCell {position: relative;}
.sub .section.sec1 .section_inner {display: flex;justify-content: space-between;align-items: center;}
.sub .section.sec1 .section_inner>div {flex: 1;height: 100%;}
.sub .section.sec1 .section_inner>div.mainImg {position: relative;}
.sub .section.sec1 .section_inner>div.mainImg>img {
    /* 이미지 중앙 정렬 */
    position:absolute;
    max-width:100%; max-height:100%;
    width:auto; height:auto;
    margin:auto;
    top:0; bottom:0; left:0; right:0;
}
.sub .section.sec1 .section_inner>div.mainImg>img:nth-child(2) {
    animation: motion 0.8s 
    linear 0s  
    infinite alternate;
    transform-origin: center center;
}
@keyframes motion {
    0% {transform: translateY(0);} 
    100%{transform: translateY(10px);} 
}

.section{display:table; height:100%;}
.sub .section.sec1 .tableCell .section_inner>div.mainTxt{ margin-top:-280px;}
.sub .section.sec1 .tableCell .section_inner {width:100%;}
.sub .section.sec1 .tableCell .section_inner>div.mainTxt {text-align:center;}
.sub .section.sec1 .tableCell .swiperWrap {
    width: 100%;height: 100%;position: absolute; top:0; left:0;
    
}
/*.sub .section.sec1 .swiperWrap .swiper-container .swiper-slide {height: 100% !important;}
.sub .section.sec1 .swiperWrap .swiper-container .swiper-slide>div {margin: 0;position: absolute;top: 46%;left: 50%;}
.sub .section.sec1 .swiperWrap .swiper-container .swiper-slide>div span {font-size: 34px;font-weight: 300;line-height: 50px;letter-spacing: -0.05em;}
.sub .section.sec1 .swiperWrap .swiper-container .swiper-slide>div.ani_txt span:nth-child(1) {font-weight: bold;}
*/

.subIcon {transform: translateY(12px); margin:0 10px 0 5px;}
.swiper-slide {height:100%!important;}







.sub .section.sec2 {background-color: #f0f0f0;position: relative;}
.sub .section.sec2 .fp-tableCell {position: relative;}
.sub .section.sec2 .section_inner {width: 100%; padding: 0;position: relative;}
.sub .section.sec2 .section_inner .fixTxt {
    position: absolute; top: 50%; left:50%; transform: translate(-50%,-50%); 
    height: 50%; width:100%; max-width:1379px;}
.sub .section.sec2 .section_inner .fixTxt .ani_txt {margin-top: 0;}
.sub .section.sec2 .section_inner .fixTxt .ani_txt span {font-size: 34px;font-weight: 300;line-height: 50px;letter-spacing: -0.05em; margin-left:60px;}
.sub .section.sec2 .section_inner .btn_wrap {
    position: absolute; 
    left:50%; transform: translatex(-50%); margin-left:-640px;
    width:calc(100% - 650px); max-width:1379px;
    bottom:50%;
    transform: translateY(23.5vh);
    z-index:9999999999999;
}
.sub .section.sec2 .section_inner button {
    background-color: transparent; border: 0.11rem solid #f16365;
    border-radius: 60px;padding: 10px 30px;
    color: #f16365;font-size: 20px;font-weight: bold;
}
.sub .section.sec2 .swiperWrap {width: 100%; height: 100%; }
.sub .section.sec2 .swiperWrap .swiper-container {width: 100%; height: 100%;max-width: 1439px;margin: 0 auto;}
.sub .section.sec2 .swiperWrap .swiper-container .swiper-wrapper {width: 100%;margin: 0 auto;height: 100vh;cursor: unset !important;}
.sub .section.sec2 .swiperWrap .swiper-container .swiper-slide {height: 100% !important;width: 100% !important; margin: 0 auto;}
.sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap {width: 100%;height: 100%;display: table;}
.sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div {display: table-cell;vertical-align: middle;}
.sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div {display: flex;justify-content: space-between;align-content: center;}
.sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div {flex: 1;}
.sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt {
    display: table; position:absolute;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    margin-top:65px;
    width:100%;
    max-width:1439px;
}
.sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt p {position: absolute; top:-140px; font-size:180px; font-weight:700; color:#e0e0e0;}
.sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt .ani_txt {margin-top: 150px;display: table-cell;vertical-align: middle; padding-left:60px;}
.sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt .ani_txt span {font-weight: bold;font-size: 34px;line-height: 50px;letter-spacing: -0.05em;}
.sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg {
    /* max-width:562px; width:100%; */
    text-align:center; position:absolute; 
    right:0; top:50%; transform: translateY(-50%);
}





/* 서브 페이지 우측 이미지애니메이션 */
@keyframes transY {
    0% {
        opacity: 0;
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img.ani,
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img.ani,
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg>img.ani,
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img.ani,
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img.ani,
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div.ani,
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img.ani,
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img.ani  {
    width: 100%;
    -webkit-animation: transY .5s 1.1s both;
    animation: transY .5s 1.1s both;
}
@keyframes transAni {
    0% {
        opacity: 0;
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img.ani,
.sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img.ani,
.sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img.ani,
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img.ani,
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg>img.ani {
    width: 100%;
    -webkit-animation: transAni .5s 1.1s both;
    animation: transAni .5s 1.1s both;
}


/* 에브리클릭 */
.sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg>img {width: 100%;}


/* 퀴즈클릭 01 */
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img:nth-child(1) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    width: 100%;
}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img:nth-child(3){
    position: absolute;
    top: 15%;
    left: 0;
    transform: translate(-50%,-50%);
    z-index: 1000;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    margin-left: 10px;
}


/* 퀴즈클릭 02 */
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg {
    display: grid;
    grid-template-areas:
    ". a"
    "b a"
    "b c"
    ". c";
}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img {width: 100%;}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img:nth-child(1) {
    grid-area: a;
}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img:nth-child(2) {
    grid-area: b;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;

}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img:nth-child(3) {
    grid-area: c;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}


/* 퀴즈클릭 03 */
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg {
    display: grid;
    grid-template-areas:
    ". a b b"
    ". . c c"
    "d d d g"
    ". e e g"
    ". f f g ";
}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img {width: 100%;}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(1) {grid-area: a;margin-left: 25px;}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(2) {grid-area: b;margin-left: 25px;-webkit-animation-delay: 1s;animation-delay: 1s;}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(3) {grid-area: c;margin-left: -100px;-webkit-animation-delay: 1.2s;animation-delay: 1.2s;}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(4) {grid-area: d;-webkit-animation-delay: 1.5s;animation-delay: 1.5s;} 
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(5) {grid-area: e;margin-left: 50px;-webkit-animation-delay: 1.8s;animation-delay: 1.8s;}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(6) {grid-area: f;margin-left: 10px;-webkit-animation-delay: 2s;animation-delay: 2s;}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(7) {grid-area: g;z-index: 50;-webkit-animation-delay: 2.2s;animation-delay:2.2s;}



/* 퀴즈클릭 04 */
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg {
    display: grid;
    grid-template-areas:
    ". a a a"
    "b b b ."
    ". c c c"
    "d d d .";
}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg>img {width: 100%;}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg>img:nth-of-type(1) {grid-area: a;margin-left: -50px;}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg>img:nth-of-type(2) {grid-area: b;margin-right: 50px;-webkit-animation-delay: 1.2s;animation-delay: 1.2s;}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg>img:nth-of-type(3) {grid-area: c;margin-left: -50px;-webkit-animation-delay: 1.5s;animation-delay: 1.5s;}
.sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg>img:nth-of-type(4) {grid-area: d;margin-right: 50px;-webkit-animation-delay: 1.7s;animation-delay: 1.7s;}



/* 뉴스클릭 01 */
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img {width: 100%;}
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img:nth-child(1) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    width: 100%;
}
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%,-50%);
    z-index: 1000;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}




/* 뉴스클릭 02 */
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img:nth-child(1) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    width: 100%;
}

.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div {
    display: flex;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    width:100%;
    
}
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(1),
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(2) {z-index: 100;}

.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(1) {
    -webkit-animation-delay: 1.2s;
    animation-delay:  1.2s;
}
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(2) { 
    z-index: 1000;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(3) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(1)>img {margin-right: -80px; margin-top:20px;}
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(3)>img {margin-left: -80px;  margin-top:20px;}



/* 뉴스클릭 03 */
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-child(1) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    width: 100%;
}
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div {
    display: grid;
    grid-template-areas:
    "a a"
    "b c"
    "b d"
    "e d";
    position: absolute; 
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 75%;
  
}
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img {width: 100%;}
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(1) {grid-area: a;margin-left: 100px;max-width:320px;}
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(2) {grid-area: b;margin-top: -1vw;margin-left: 10px;-webkit-animation-delay: 1.2s;animation-delay: 1.2s;}
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(3) {grid-area: c;margin-top: -1vw;-webkit-animation-delay: 1.5s;animation-delay: 1.5s;}
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(4) {grid-area: d;margin-top: -0.5vw;-webkit-animation-delay: 1.7s;animation-delay: 1.7s;}
.sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(5) {width:160px; grid-area: e; margin-top: -200px; margin-left: 20px;-webkit-animation-delay: 1.9s;animation-delay: 1.9s;}



@media (max-width:1920.33px) {
    /* 우측 이미지 사이즈 */
    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg,
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg {max-width:512px;}
}

@media (max-width:1680.33px) {
    /* 우측 이미지 사이즈 */
    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg,
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg {max-width:400px;}
}

@media (max-width:1500.33px) {
    .sub .section.sec2 .section_inner {padding-right:40px;padding-left: 40px;}
}

@media (max-width:1439.33px) {

    /* 공통 */
    /* .sub .section.sec2 .section_inner {padding-right:40px;padding-left: 40px;} */
    .sub .section.sec2 .section_inner .fixTxt{margin-left:30px;}
    .sub .topBtn {width:50px; top:80px; right:60px; position:fixed;cursor: pointer; z-index: 10000;}
    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt {margin-top:30px;}
    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt p {font-size:150px; top:-80px;}
    .sub .section.sec2 .section_inner .btn_wrap {margin-left: 100px;transform: translate(-0,23.5vh);left: 0;}

    .sub .section.sec2 .section_inner .fixTxt .ani_txt span, 
    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt .ani_txt span {font-size:30px; line-height:46px;}

    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt .letter {width:160px;top:42%;padding-left:20px;}

    /* 우측 이미지 사이즈 */
    /* 에브리클릭, 뉴스클릭 */
    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg {max-width:400px;}



    /* 퀴즈클릭 우측 이미지 */
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg {max-width: 512px;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg {max-width: 400px;}



    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(5) {width:130px; margin-top:-100px;}
}








@media (max-width:1023.33px) {

    /* 공통 */
    .down_icon {transform: translateY(4px); width:20px;}
    .pc_ver {display:none;}
    .mo_ver {display:block;}
    .subIcon {width:28px; transform: translateY(10px);}

    .sub .topBtn {width:50px; right:40px;}
    /* .sub .section.sec2 .section_inner {padding-right:0} */
    .sub .section.sec1 .tableCell .section_inner>div.mainTxt {margin-top:-340px;}
    .sub .section.sec1 .tableCell .section_inner>div.mainTxt img {width:240px;}
    
    .sub section .sec1 .swiper_txt {margin-top:20px;}
    .sub section .sec1 .ani_txt {margin-top:70px;}

    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt p {font-size:80px; top:-60px;}
    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt .ani_txt {padding-left:0;}
    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt .ani_txt span {font-size:24px;  line-height:36px; }


    .sub .section.sec2 .section_inner .btn_wrap {left: 0;margin-left: 80px;bottom: 46%;}
    .sub .section.sec2 .section_inner button {padding:8px 20px; font-size:16px; width:260px;}
    .sub .section.sec2 .section_inner .fixTxt {height:70%;}
    

    /* 우측 이미지 사이즈 */
    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg,
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg {max-width:400px;width: 50%;}

    /* 뉴스클릭 01 */
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img:nth-child(4) {margin-top: -150px;}
    
    

    /* 뉴스클릭 02 */
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(1)>img {max-width: 160px; width:100%;margin-right: -70px;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(2)>img {max-width: 180px; width:130%;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(3)>img {max-width: 160px; width:100%;margin-left: -10px;}

    /* 뉴스클릭 03 */
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div {
        max-width: 70%;
        transform: translateX(-50%);
        lefT:50%;
        top:90px;    
        grid-template-areas:
        /* "a a"
        "c c"
        "b b"
        "e e"; */
        ". a a"
        "c c ."
        ". d d"
        "e d d";

    }
   
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(1) {
        margin-left: -60px;
        width:100%;
    }
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(2) {display: none;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(3) {
        margin-left:0; width:100%;
        
    }
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(4) {margin-left: -30px;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(5) {width:100%; margin-left:-30px;margin-top: -218px;}

}








@media (max-width:770px) {

    .nomobileImg {display: none;}
    .mobileImg {display: block;width: 100%;}

    .cpyright {bottom:20px; font-size:10px; text-align:center; width:100%; left:0;}
    .down_icon {transform: translateY(3px); width:16px;}
    .subIcon {width:20px; transform: translateY(8px);}
    .sub .section.sec2 .section_inner {padding:0 20px}
    .sub .topBtn {right:20px;width:30px;top:20px;}

    .sub .section.sec1 .tableCell .section_inner>div.mainTxt img {width:180px;}

    .sub .section.sec2 .section_inner .fixTxt .ani_txt span {font-size: 15px;
        line-height: 20px;margin-left:0;}
    .sub section .sec2 .ani_txt {text-align:center;}
    .sub .section.sec2 .section_inner .fixTxt {
        padding:0; margin:0; 
        top:70px; 
        transform: translate(0,0);
        left:0;
        margin-left:0;
    }
    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt {top:170px; width:100%; padding-left:0;margin-top: 20px;}
    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt p {
        text-align:center;
        width:100%;
        top:-40px;
        font-size:60px;
    }
    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt .ani_txt span {font-size:18px; line-height:24px;}
    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg {
        width:100%;
        left:50%;
        transform: translate(-50%, -30%);
        vertical-align: top;
    }
    .sub .section.sec2 .section_inner .btn_wrap {
        bottom:10%;
        text-align:center;
        width:100%;
        left:50%;
        transform: translatex(-50%);
        margin-left:0;
    }
    .sub .section.sec2 .section_inner button {font-size:13px;padding:6px 16px;width:200px;}


    /* 우측 이미지 사이즈 */
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg {width: 100%;max-width: 350px; margin-top:-7%;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg {width: 100%;max-width: 350px; margin-top:-7%;}

    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg {width: 100%;max-width: 350px; margin-top:-7%;}




    /* 에브리클릭 */
    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img,
    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img.ani,
    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img,
    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img.ani,
    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img,
    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img.ani,
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img,
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img.ani,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img.ani,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img.ani,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img.ani {width: 324px;}

    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img,
    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img,
    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img,
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img {margin: 0 auto;}


    /* 퀴즈클릭 */
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img:nth-child(1),
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img:nth-child(3) {margin-top:-10%;margin-left:-10%;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img:nth-child(2) {margin-left:10%;margin-top:10%}

    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(1),
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(2) {margin-left: 15px;}

    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img:nth-child(1) {max-width: 350px;}

    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg {
        width: 100%;
        grid-template-areas:
        ". b b b"
        "a a a ."
        ". c c c";
    }
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img,
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img.ani {width: 229px;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img:nth-child(4) {
        grid-area: a; margin-top:-10px;
    }
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img:nth-child(5) {
        grid-area: b;  
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
        margin-top: 10px;
    }
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img:nth-child(6) {
        grid-area: c;  margin-top:-10px;
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
    }

            /* ". a b b ."
        "c c c d d"
        ". e e e g"
        ". f f f g"; */


            /* "a b"
        "c d"
        "e g"
        "f g"
        ". g"; */


    /* 퀴즈클릭 03 */
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg {
        /* grid-row: auto; */
        grid-template-rows: repeat(5,45px);
        /*place-items: center;
        grid-template-columns: repeat(2,minmax(90px,100%)); */
        grid-template-areas:
        ". a a b"
        ". c c d"
        ". . e g"
        ". f f g";
        margin-top: 10px;
        width: 100%;
        max-width: 330px;
    }
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img {width: 100%;align-self: center;justify-self: center;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(1) {margin-left: 0;grid-area: a;width: 95px;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(2) {width: 156px;margin-left: -80px;grid-area: b;-webkit-animation-delay: 1s;animation-delay: 1s;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(3) {width: 174px;margin-left: -20px;grid-area: c;-webkit-animation-delay: 1.2s;animation-delay: 1.2s;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(4) {width: 154px;grid-area: d;margin-left: -20px;-webkit-animation-delay: 1.5s;animation-delay: 1.5s;} 
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(5) {margin-top: 0;width: 174px;margin-left: 20px;grid-area: e;-webkit-animation-delay: 1.8s;animation-delay: 1.8s;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(6) {margin-top: 0;width: 174px;grid-area: f;margin-left: 0;-webkit-animation-delay: 2s;animation-delay: 2s;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(7) {width: 110px;margin-top: -10px;margin-left: -40px;grid-area: g;z-index: 50;-webkit-animation-delay: 2.2s;animation-delay:2.2s;}

    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg {width: 80%;}



 



    /* 퀴즈클릭 04 */
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg {justify-content: center;width: 100%;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg>img {width: 145px;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg>img.ani {width: 145px;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg>img:nth-of-type(2n-1) {margin-left: 0;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg>img:nth-of-type(2) {margin-right: 0;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg>img:nth-of-type(4) {margin-left: 0;margin-right: 0;}

    

    /* 뉴스클릭 */
    /* 뉴스클릭 01 */
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img:nth-child(4) {
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
        width: 320px;
    }
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div {width: 300px;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(1)>img {margin-right: -50px;width: 100px;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(3)>img {margin-left: -44px;width: 100px;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(2)>img {margin-left: 0;width: 116px;}






    /* .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg {max-width: 350px;} */


     /* 뉴스클릭 03 */
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div {
        max-width: unset;
        place-items: center;
        transform: translateX(-50%);
        left: 50%;
        top: 60px;
        grid-template-areas:
            "a"
            "e"
            "d"
            "c";
    }

    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(1) {margin-left:0}

    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(1) {width:155px;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(2) {display: none;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(3) {width: 143px;margin-top: -70px;margin-left: 140px;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(4) {width: 101px;margin-top: -50px;margin-left: -100px;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(5) {width:67px;margin-left: -150px;margin-top: -160px;}

    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) .slideWrap>div>div>div.rightImg>img:nth-child(3) {left:50%; margin-left:-130px; width: 285px;}


    

}









@media (max-width:560px) {

    
    .sub .section.sec1 .tableCell .section_inner>div.mainTxt {margin-top:-280px;}
    /* .cpyright {bottom:20px; font-size:10px; text-align:center; width:100%; left:0;}
    .down_icon {transform: translateY(3px); width:16px;}
    .subIcon {width:20px; transform: translateY(8px);}
    .sub .section.sec2 .section_inner {padding:0 20px}
    .sub .topBtn {right:20px;width:30px;top:20px;}
    .sub .section.sec1 .tableCell .section_inner>div.mainTxt {margin-top:-280px;}
    .sub .section.sec1 .tableCell .section_inner>div.mainTxt img {width:180px;}

    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt .ani_txt {padding-left:0;}
    .sub .section.sec2 .section_inner .fixTxt .ani_txt span {font-size:16px; line-height:24px;margin-left:0;}
    .sub section .sec1 .ani_txt {margin-top:30px;}
    .sub section .sec2 .ani_txt {text-align:center;}
    .sub .section.sec2 .section_inner .fixTxt {
        padding:0; margin:0; 
        top:80px; 
        transform: translate(0,0);
        left:0;
        margin-left:0;
    }
    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt {top:170px;width:100%;padding-left:0;}
    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt p {
        text-align:center;
        width:100%;
        top:-40px;
        font-size:60px;
    }
    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.leftTxt .ani_txt span {font-size:20px; line-height:28px;}
    .sub .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg {
        width:100%;
        left:50%;
        transform: translate(-50%, -30%);
        vertical-align: top;
    }

    .sub .section.sec2 .section_inner .btn_wrap {
        bottom:80px;
        text-align:center;
        width:100%;
        left:50%;
        transform: translatex(-50%);
        margin-left:0;
    }
    .sub .section.sec2 .section_inner button {font-size:13px;padding:6px 16px;width:200px;}


  
    .sub.every .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg,
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg,
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide .slideWrap>div>div>div.rightImg {max-width: unset;width: 60%;}

    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg {width: 90%;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg {width: 80%;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .slideWrap>div>div>div.rightImg {width: 100%;}

   
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img:nth-child(1),
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img:nth-child(3) {margin-top:-10%;margin-left:-10%;}
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>img:nth-child(2) {margin-left:10%;margin-top:10%}

    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(1),
    .sub.quiz .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>img:nth-of-type(2) {margin-left: 15px;}


    
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(1)>img {margin-right:-30%; margin-top:20%;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(2)>img{margin-left:-10%;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .slideWrap>div>div>div.rightImg>div>div:nth-child(3)>img {margin-left:-12%;  margin-top:20%;}

    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div {
        max-width: 70%;
        transform: translateX(-50%);
        left:50%;
        top:14%;    
        grid-template-areas:
        "a a"
        "c c"
        "b b"
        "e e";
    }
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(1) {margin-left:10%;}
    .sub.news .section.sec2 .section_inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .slideWrap>div>div>div.rightImg>div>img:nth-of-type(5) {margin-top:-15vw; margin-left:-2vw;}
 */


}




























/* everyclick */
.every .section.sec1{position: relative; background:url(../img/sub01_visual_bg.jpg) center; background-size:cover;}



/* quizclick */
.quiz .section.sec1{position: relative; background:url(../img/sub02_visual_bg.jpg) center; background-size:cover;}


/* newsclick */

.news .section.sec1{position: relative; background:url(../img/sub03_visual_bg.jpg) center; background-size:cover;}
@media (max-width:560px){
    .news section .sec1 .ani_txt {margin-top:-32px;}
}